// Переменные проекта
:root {
	// Default Light Theme Colors 
	--color-000: #00000000;
	--color-001: #ffffff0a;
	--color-white: #ffffff;


	// Default Dark Theme Colors 
	--color-black: #000000;
}

:root {
	--transparent: var(--color-000);
	--white: var(--color-white);

	--black: var(--color-black);
}

.darkstyle {
	--white: var(--color-black);
	--black: var(--color-white);
}