// Глобальные стили

* {
	margin: 0;
	padding: 0;
	border: 0;
	text-wrap: balance;
	text-decoration: none;
	list-style-type: none;
	box-sizing: border-box;
}

body {
	min-height: 100%;
	line-height: 1.6;
	font-size: 16px;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: #16171d;
}

.container {
	width: 100%;
	max-width: 1280px;
	margin: auto;
	padding: 0 3%;
}

::selection {
	background-color: var(--transparent);
	color: var(--color-red);
}

::-moz-selection {
	background-color: var(--transparent);
	color: var(--color-red);
}