// Переменные проекта
:root {
	// Default Light Theme Colors 
	--transparent: #00000000;
	--color-001: #ffffff0a;
	--color-010: #8e8e8e;
	--color-white: #ffffff;


	// Default Dark Theme Colors 
	--color-black: #000000;

	// Сolors
	--color-red: #a00000;
	--box-shadow: #222122a6;

	--primary: #6d00a3;
}

// :root {
// }

// .darkstyle {
// }